<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="fullname">Enter name: </label>
    <input type="text" th:field="*{fullname}" id="fullname"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Name Error</div>
    <br>
    <label for="birthyear">Enter birth year: </label>
    <input type="text" th:field="*{birthyear}" id="birthyear"/>
    <div style="color:red" th:if="${#fields.hasErrors('birthyear')}" th:errors="*{birthyear}">Year Error</div>
    <br>
    <input type="submit" value="Update"/>
</form>
</body>
</html>